<header class="header">
  <nav>
    <a routerLink="/" class="logo">
      <img src="./triatlon.ico" alt="Logo Triatlón UPTC" class="logo-icon">
      Triatlón UPTC
    </a>
    <div class="nav-links" [class.open]="isMenuOpen">
      <a routerLink="/" (click)="isMenuOpen = false">
        <i class="bi bi-house-door me-1"></i>
        Inicio
      </a>
      <a routerLink="/participantes" (click)="isMenuOpen = false">
        <i class="bi bi-people-fill me-1"></i>
        Participantes
      </a>
      <a routerLink="/podio" (click)="isMenuOpen = false">
        <i class="bi bi-award me-1"></i>
        Podio
      </a>
      <a routerLink="/premios-individuales" (click)="isMenuOpen = false">
        <i class="bi bi-star-fill me-1"></i>
        Premios
      </a>
      <a routerLink="/admin" (click)="isMenuOpen = false">
        <i class="bi bi-shield-lock me-1"></i>
        Admin
      </a>
    </div>
    <button class="navbar-toggler d-md-none" (click)="toggleMenu()">
      <i class="bi bi-list"></i>
    </button>
  </nav>
</header>
