<div class="container">
  <h2>Resultados de {{ disciplina | titlecase }}</h2>
  
  <app-loading *ngIf="loading"></app-loading>

  <div *ngIf="!loading" class="resultados-list">
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Equipo</th>
          <th>Tiempo</th>
          <th>Género</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of resultados; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ res.nombre }}</td>
          <td>{{ res.equipo_nombre }}</td>
          <td>{{ res.tiempo }}</td>
          <td>{{ res.genero === 'M' ? 'Masculino' : 'Femenino' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>