<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>
        <i class="bi bi-c-circle"></i> {{ currentYear }} Triatlón UPTC - Todos los derechos reservados
      </p>
      <div class="social-links">
        <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>
        <a href="#" class="social-link"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="social-link"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>